@using CadastroUsuarios.Models
@model UsuarioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link href="~/Scripts/Cadastro/Style.css" rel="stylesheet" />
}

@section Subtitulo {
    Cadastrar Novo Usuário
}

@section Scripts {
    <script src="~/Scripts/Cadastro/Funcoes.js"></script>
}

<form>
    <div class="mb-3">
        @Html.LabelFor(x => x.Nome, new {@class = "form-label"})
        @Html.TextBoxFor(x => x.Nome, new {@class = "form-control", @required = true})
    </div>
    <div class="mb-3">
        <label class="form-label">Sobrenome</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Nome Social</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
