<div class="p-2 m-1">
    <p class="m-0">A senha deve conter:</p>
    <ul>
        <li> Mínimo 6 caracteres</li>
        <li> Letras maiúsculas e minúsculas</li>
        <li> Números</li>
    </ul>
</div>